@keyframes joom_in_out {
  0% {
    transform: translate(-50%, -50%) scale(1.2);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
.banner-section {
  background: url(../images/banner/banner-bg.jpg) center/cover no-repeat;
  .banner-thumb {
    left: calc(50% + 90px);
    &__shape {
      content: '';
      transform: translate(-50%, -50%);
      animation: joom_in_out 3s alternate infinite;
      -webkit-animation: joom_in_out 3s alternate infinite;
      -moz-animation: joom_in_out 3s alternate infinite;
      &--first {
        width: 809px;
        height: 809px;
      }
      &--second {
        width: 700px;
        height: 700px;
        animation-delay: 1s;
        -webkit-animation-delay: 1s;
        -moz-animation-delay: 1s;
      }
      &--third {
        width: 591px;
        height: 591px;
        animation-delay: 2s;
        -webkit-animation-delay: 2s;
        -moz-animation-delay: 2s;
      }
    }
  }
}
.counter-section {
  background: url(../images/counter/counter-bg.jpg) center/cover no-repeat;
}
.sponsor-section {
  .sponsor-swiper {
    height: 50px;
  }
}
