$bootstrap-sass-asset-helper: false !default;

// Colors
$title-color: #07294D;
$theme-one: #2ECA7F;
$theme-color: #FF7700;
$theme-two: #3B34FF;
$theme-three: #FF2C7B;
$theme-four: #34C0FF;
$theme-five: #E19D00;
$theme-five: #D834FF;
$body-color : #7884A7;
$body-color-2 :#b3c2f4;
// $primary-color: #130f40;
$theme-six: #4a61ff;
$primary-color: #0a3d62;
// $primary-color: #0c2461;
$border-color: #E2E4FF;
$border-color-2: #DDDDDD;
// $grey-color: #696969;
$ash-color: #fafafa;
$white-color: #ffffff;
$lallu-color : #e883ae;
$dark-color: #0c0026;
$section-bg: #F1F5F9;
$body-bg: #fff;
$footer-bg: #2a2369;
$theme-bg: -webkit-linear-gradient( -103deg, rgb(239,119,76) 0%, rgb(237,104,79) 35%, rgb(232,67,81) 76%, rgb(231,51,81) 100%);
// social-media icons color
$whatsapp: #25d366;
$facebook: #3b5998;
$twitter: #55acee;
$linkedin: #007bb5;
$pinterest: #007bb5;
$skype: #2fb7df;
$youtube: #cd201f;
$google: #dd4b39;
$camera: #e4405f;
$instagram: #e4405f;
$tumblr: #34465d;
$behance: #1769ff;
$star: #ffda3c;
$green: #0be881;
$green-h: #0fbcf9;
$red: #f53b57;
$yellow: #dec32b;
$nell: #212fb4;
$navy: #d8e0f3;
$placeholder: #a1a1a2;
$name-dec: #3f485d;
$futbol : #db3776;
$vimeo : #1ab7ea;
//== Typography

// font-family
$Body: 'Rubik', sans-serif;
$body: 'Rubik', sans-serif;
$Heading: 'Rubik', sans-serif;
$heading: 'Rubik', sans-serif;


 //Description line height
 $lh-p: 28px; //28px;

 //  transition
$transition: all ease 0.3s;
